/*ESTILOS GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', Verdana;
}

body{
    background: white;
}

.clearfix{
    clear: both;
    float: none;
}

.container{
    width: 85%;
    margin: 0px auto;
}